In [28]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Transformation - Action

# RDD Transformation

-  데이터를 가공하기 위한 논리적 실행계획
-  기존의 RDD에 연산이 반영된 새로운 RDD를 반환한다.

# Transformation 메서드

1. filter()
2. map()
3. flatMap()
4. distinct()
5. zip()
6. join()
6. reduceByKey()
7. mapValues()
8. sortBy()

## Transformation - filter()

In [1]:
score_rdd = sc.textFile("/rdd/score.txt")
#filter()
# 조건에 맞는 데이터만
score_rdd.filter(lambda e :  '스파크' in e ).filter(lambda e : '홍길' in e).collect()
# type(score_rdd.filter(lambda e :  '스파크' in e ))

['홍길동 스파크 80']

## Transformation - map()

In [2]:
# map()
data = [1, 3, 5, 7, 9]
map_rdd = sc.parallelize(data)
map_rdd.map(lambda e: e * 2).collect()

[2, 6, 10, 14, 18]

## Transformation - flatMap()

In [5]:
#flatMap()
# 각각의 요소에 함수를 적용한 다음 평면화 시켜주는 함수
nlist = [[1, 2, 3], 
         [4, 5, 6], 
         [7, 8, 9]]

flat_rdd = sc.parallelize(nlist)

def append_data(e):
    e.append(100)
    return e

res = flat_rdd.flatMap(lambda e : append_data(e)).collect()
len(res)
# [[1, 2, 3, 100], [4, 5, 6, 100], [7, 8, 9, 100]]
res

[1, 2, 3, 100, 4, 5, 6, 100, 7, 8, 9, 100]

In [7]:
tmp = [[1, 2, 3,], 4, 5]
# sc.parallelize(tmp).flatMap(lambda e: e).collect()

In [11]:
res = score_rdd.flatMap(lambda e : e + '점').collect()
res

['하',
 '명',
 '도',
 ' ',
 '스',
 '파',
 '크',
 ' ',
 '5',
 '0',
 '점',
 '홍',
 '길',
 '동',
 ' ',
 '스',
 '파',
 '크',
 ' ',
 '8',
 '0',
 '점',
 '임',
 '꺽',
 '정',
 ' ',
 '스',
 '파',
 '크',
 ' ',
 '6',
 '0',
 '점',
 '임',
 '요',
 '환',
 ' ',
 '텐',
 '서',
 '플',
 '로',
 '우',
 ' ',
 '1',
 '0',
 '0',
 '점',
 '홍',
 '진',
 '호',
 ' ',
 '텐',
 '서',
 '플',
 '로',
 '우',
 ' ',
 '2',
 '2',
 '점',
 '홍',
 '진',
 '호',
 ' ',
 '텐',
 '서',
 '플',
 '로',
 '우',
 ' ',
 '2',
 '2',
 '점',
 '이',
 '윤',
 '열',
 ' ',
 '텐',
 '서',
 '플',
 '로',
 '우',
 ' ',
 '9',
 '0',
 '점']

# 연습문제 : filter, map, flatMap 

nlist안의 요소들중 홀수인 요소만 추출하여 100을 곱하여 list로 반환하시오  

 - nlist = [[[1, 2], [3, 4, 5]],[[6, 7], [8, 9, 10, 11]],[[12,13,14,15], [16, 17]]]

 - 결과 : [100, 300, 500, 700, 900, 1100, 1300, 1500, 1700]

In [16]:
nlist = [[[1, 2], [3, 4, 5]],[[6, 7], [8, 9, 10, 11]],[[12,13,14,15], [16, 17]]]
flat_rdd2 = sc.parallelize(nlist)
flat_rdd2.flatMap(lambda e: e) \
          .flatMap(lambda e: e) \
          .filter(lambda e: e % 2 == 1) \
          .map(lambda e: e * 100) \
          .collect()

[100, 300, 500, 700, 900, 1100, 1300, 1500, 1700]

## Transformation - distinct()

In [18]:
nlist = [1, 2, 3, 1, 2, 3, 1, 2, 3 , 4, 5]
distinct_rdd = sc.parallelize(nlist)
distinct_rdd.distinct().collect()

slist = ['안녕','반가워','hello','hello']
distinct_rdd2 = sc.parallelize(slist)
distinct_rdd2.distinct().collect()

['hello', '안녕', '반가워']

## Transformation - zip()

In [22]:
# zip() : 두 rdd를 결합해 key-value 형태의 rdd(Pair RDD)로 생성
foods = ['파스타','스테이크', '불고기', '비빔밥', '김치']
category = ['양식', '양식', '한식', '한식', '한식']

foods_rdd = sc.parallelize(foods)
category_rdd = sc.parallelize(category)
zip_rdd = category_rdd.zip(foods_rdd)
zip_rdd
zip_rdd.collect()

[('양식', '파스타'), ('양식', '스테이크'), ('한식', '불고기'), ('한식', '비빔밥'), ('한식', '김치')]

In [28]:
# tuple의 list로 RDD를 생성하면 Pair RDD 생성된다.
tmp = list(map(lambda a, b : (a, b) , category,  foods))
tmp_rdd = sc.parallelize(tmp)
tmp_rdd.collect()

tmp = list(zip(category,  foods))
tmp_rdd = sc.parallelize(tmp)
print('zip 결과')
tmp_rdd.collect()

zip 결과

[('양식', '파스타'), ('양식', '스테이크'), ('한식', '불고기'), ('한식', '비빔밥'), ('한식', '김치')]

## Transformation - reduceByKey(), mapValues()

In [32]:
# reduceByKey, 키값을 기준으로 value값들을 연산
# mapValues, Pair RDD의 value들에 대해 map연산을 수행
res = zip_rdd.reduceByKey(lambda a, b : a + ',' + b) \
         .mapValues(lambda e : e.split(',')) 
res.collect()

[('양식', ['파스타', '스테이크']), ('한식', ['불고기', '비빔밥', '김치'])]

## Transformation - sortBy()

In [42]:
# 키값으로 내림차순
res.sortBy(lambda e : e[0], ascending=False).collect()

# value값으로 오름차순
# 메뉴 가짓 수로 오름차순
print('===================================')
res.sortBy(lambda e : len(e[1]), ascending=False).collect()

===================================

[('양식', ['파스타', '스테이크']), ('한식', ['불고기', '비빔밥', '김치'])]

# 연습문제 : distinct, zip, reduceByKey, sortBy 
 - hdfs의 /score.txt 파일을 읽어와 RDD로 생성하시오
 - 각 과목별 명단을 추출하시오
 - 각 과목별 평균점수를 추출하시오
 - 이때 중복으로 들어간 홍진호의 데이터는 한번만 적용되도록 합니다.  
 
 
 
 - 결과 :  
 [('스파크', {'명단': ['하명도', '홍길동', '임꺽정']}), ('텐서플로우', {'명단': ['임요환', '홍진호', '이윤열']})]       
  
 [('스파크', {'평균점수': 63.333333333333336}), ('텐서플로우', {'평균점수': 70.66666666666667})]

In [29]:
# 지정한 DataSource에서 데이터를 읽어와 RDD를 생성
score_rdd = sc.textFile("/rdd/score.txt")
base = score_rdd.distinct() \
                    .map(lambda e : e.split(' '))

# base.collect()
students = base.map(lambda e : (e[1], [e[0]])) \
                    .reduceByKey(lambda a, b : a + b) \
                    .mapValues(lambda e : {'명단': e})
students.collect()

score_avg = base.map(lambda e: (e[1], [int(e[2])])) \
                    .reduceByKey(lambda a, b : a+b) \
                    .mapValues(lambda e : {'평균점수':sum(e)/len(e)})

score_avg.collect()

[['이윤열', '텐서플로우', '90'],
 ['하명도', '스파크', '50'],
 ['홍길동', '스파크', '80'],
 ['임꺽정', '스파크', '60'],
 ['임요환', '텐서플로우', '100'],
 ['홍진호', '텐서플로우', '22']]

[('스파크', {'명단': ['임꺽정', '하명도', '홍길동']}),
 ('텐서플로우', {'명단': ['이윤열', '홍진호', '임요환']})]

[('스파크', {'평균점수': 63.333333333333336}), ('텐서플로우', {'평균점수': 70.66666666666667})]

## Transformation - join()

In [35]:
# 키를 기준으로 두 RDD를 결합
res = students.join(score_avg)
res.collect()

#[('스파크', {'명단': ['임꺽정', '하명도', '홍길동'], '평균점수': 63.333333333333336}),
# ('텐서플로우', {'명단': ['이윤열', '홍진호', '임요환'], '평균점수': 70.66666666666667})]
res = students.join(score_avg) \
                .mapValues(lambda e : dict(e[0], 평균점수=e[1]['평균점수']))
res.collect()

[('스파크', ({'명단': ['하명도', '홍길동', '임꺽정']}, {'평균점수': 63.333333333333336})),
 ('텐서플로우', ({'명단': ['홍진호', '임요환', '이윤열']}, {'평균점수': 70.66666666666667}))]

[('스파크', {'명단': ['하명도', '홍길동', '임꺽정'], '평균점수': 63.333333333333336}),
 ('텐서플로우', {'명단': ['홍진호', '임요환', '이윤열'], '평균점수': 70.66666666666667})]

# Spark Shuffle

- 스파크에서 연산은 단일 파티션에서 작동   


- reduceByKey와 같이 특정 키에 매핑된 모든 값에 대한 연산을 수행하기 위해서는   
  파티션에 흩어진 특정키에 해당하는 값을 하나의 파티션으로 모아 줄 필요가 있음  


- 모든 키에 대한 모든 값을 찾기 위해 모든 파티션을 탐색하고, 해당하는 값들을 하나의 파티션으로 옮겨오는 과정을 셔플이라고 부른다.  


- 디스크 IO 또는 네트워크 IO가 발생함으로 비용이 매우 비싼 작업  



ex)   
filter : 각 파티션에 있는 하나의 튜플에 대해 조건을 탐색하면 됨으로 셔플 발생 x  
reduceByKey : 연산을 시작하기 위해서는 우선적으로 모든 파티션에 분산되어 있는 특정 키 값을 수집해야함으로 셔플 발생 
- 셔플이 발생하는 함수들 :
 - subtractByKey
 - groupBy
 - foldByKey
 - reduceByKey
 - aggregateByKey
 - transformations of a join of any type
 - distinct
 - cogroup

![shuffle](./img/shuffle.png)

# RDD Action

- transformation 연산을 통해 생성한 논리적 실행계획을 최적화 하여 연산을 수행. 빠른 연산이 가능

## Action Method

1. collect()
2. take()
3. takeOrdered()
4. top()
5. countByValue()
6. foreach()
7. reduce()
8. saveAsTextFile()
9. max()
10. min()
11. mean()
12. variance()
13. stdev()
14. stats()

## Action - collect()

In [38]:
score_rdd = sc.textFile('/rdd/score.txt')
score_rdd.collect()

['하명도 스파크 50',
 '홍길동 스파크 80',
 '임꺽정 스파크 60',
 '임요환 텐서플로우 100',
 '홍진호 텐서플로우 22',
 '홍진호 텐서플로우 22',
 '이윤열 텐서플로우 90']

## Action - take()

In [39]:
# Take the first num elements of the RDD.
data = [1, 2, 3, 4, 5]
take_rdd = sc.parallelize(data)
take_rdd.take(3)

[1, 2, 3]

## Action - takeOrdered()

In [42]:
data = [1, 20, 32, 400, 51, 100, 0.1]
to_rdd = sc.parallelize(data)
to_rdd.takeOrdered(4)
to_rdd.takeOrdered(4, lambda e : -e)

[0.1, 1, 20, 32]

[400, 100, 51, 32]

## Action - top()

In [52]:
data = [1, 20, 32, 400, 51, 100, 0.1]
to_rdd = sc.parallelize(data)
to_rdd.top(3, key=str)

[51, 400, 32]

## Action - countByValue()

In [70]:
chars_rdd = sc.parallelize(['a', 'a', 'a', 'b', 'b', 'b', 'b', 'c', 'c', 'de', 'de',])
chars_rdd.countByValue()

defaultdict(int, {'a': 3, 'b': 4, 'c': 2, 'de': 2})

aaaa

## Action - reduce()

In [55]:
nums = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
nums.reduce(lambda a, b : a + b)

55

## Action - foreach()

In [ ]:
def f(x): 
    print(x)
sc.parallelize([1, 2, 3, 4, 5]).foreach(f)

## Action - saveAsTextFile()

In [82]:
# 지정한 DataSource에서 데이터를 읽어와 RDD를 생성
score_rdd = sc.textFile("/rdd/score.txt")
base = score_rdd.distinct() \
                    .map(lambda e : e.split(' '))

students = base.map(lambda e : (e[1], [e[0]])) \
                    .reduceByKey(lambda a, b : a + b) \
                    .mapValues(lambda e : {'명단': e})

score_avg = base.map(lambda e: (e[1], [int(e[2])])) \
                    .reduceByKey(lambda a, b : a+b) \
                    .mapValues(lambda e : {'평균점수':sum(e)/len(e)})
res = students.join(score_avg)
res = students.join(score_avg) \
                .mapValues(lambda e : dict(e[0], 평균점수=e[1]['평균점수']))
res.saveAsTextFile('/rdd/score_transform.txt')

In [83]:
test = sc.textFile('/rdd/score_transform.txt')
test.collect()

["('스파크', {'명단': ['임꺽정', '하명도', '홍길동'], '평균점수': 63.333333333333336})",
 "('텐서플로우', {'명단': ['이윤열', '임요환', '홍진호'], '평균점수': 70.66666666666667})"]

## Action - max, min, mean, variance, stdev, stats

In [89]:
nums = sc.parallelize([1, 4, 2, 3, 7, 6, 5])
nums.max()
nums.min()
nums.mean()
nums.variance()
nums.stdev()
nums.stats()

7

1

4.0

4.0

2.0

(count: 7, mean: 4.0, stdev: 2.0, max: 7, min: 1)