# Transformation - Action

# RDD Transformation

-  데이터를 가공하기 위한 논리적 실행계획
-  기존의 RDD에 연산이 반영된 새로운 RDD를 반환한다.

# Transformation 메서드

1. filter()
2. map()
3. flatMap()
4. distinct()
5. zip()
6. join()
6. reduceByKey()
7. mapValues()
8. sortBy()

## Transformation - filter()

In [5]:
# filter()
# 조건에 맞는 데이터만

['하명도 스파크 50', '홍길동 스파크 80', '임꺽정 스파크 60']

## Transformation - map()

In [6]:
# map()
# 각각의 요소에 적용

[2, 6, 10, 14, 18]

## Transformation - flatMap()

12

[1, 2, 3, 100, 4, 5, 6, 100, 7, 8, 9, 100]

[Stage 9:=============================================>                 (16 + 2) / 22]

93

# 연습문제 : filter, map, flatMap 

nlist안의 요소들중 홀수인 요소만 추출하여 100을 곱하여 list로 반환하시오  

 - nlist = [[[1, 2], [3, 4, 5]],[[6, 7], [8, 9, 10, 11]],[[12,13,14,15], [16, 17]]]

 - 결과 : [100, 300, 500, 700, 900, 1100, 1300, 1500, 1700]

[100, 300, 500, 700, 900, 1100, 1300, 1500, 1700]

## Transformation - distinct()

[2, 4, 3, 1, 5]

['안녕', '반가워', 'hello']

## Transformation - zip()

pyspark.rdd.RDD

[('양식', '파스타'), ('양식', '스테이크'), ('한식', '불고기'), ('한식', '비빔밥'), ('한식', '김치')]

[('양식', '파스타'), ('양식', '스테이크'), ('한식', '불고기'), ('한식', '비빔밥'), ('한식', '김치')]

## Transformation - reduceByKey(), mapValues()

[('양식', ['파스타', ' 스테이크']), ('한식', ['불고기', ' 비빔밥', ' 김치'])]

[('양식', ['파스타', ' 스테이크']), ('한식', ['불고기', ' 비빔밥', ' 김치'])]

[('양식', ['파스타', ' 스테이크']), ('한식', ['불고기', ' 비빔밥', ' 김치'])]

[('한식', ['불고기', ' 비빔밥', ' 김치']), ('양식', ['파스타', ' 스테이크'])]

# 연습문제 : distinct, zip, reduceByKey, sortBy 
 - hdfs의 /score.txt 파일을 읽어와 RDD로 생성하시오
 - 각 과목별 명단을 추출하시오
 - 각 과목별 평균점수를 추출하시오
 - 이때 중복으로 들어간 홍진호의 데이터는 한번만 적용되도록 합니다.  
 
 
 
 - 결과 :  
 [('스파크', {'명단': ['하명도', '홍길동', '임꺽정']}), ('텐서플로우', {'명단': ['임요환', '홍진호', '이윤열']})]       
  
 [('스파크', {'평균점수': 63.333333333333336}), ('텐서플로우', {'평균점수': 70.66666666666667})]

[('스파크', {'명단': ['하명도', '홍길동', '임꺽정']}),
 ('텐서플로우', {'명단': ['홍진호', '임요환', '이윤열']})]

[('스파크', {'평균점수': 63.333333333333336}), ('텐서플로우', {'평균점수': 70.66666666666667})]

## Transformation - join()

[('스파크', ({'명단': ['하명도', '홍길동', '임꺽정']}, {'평균점수': 63.333333333333336})),
 ('텐서플로우', ({'명단': ['홍진호', '임요환', '이윤열']}, {'평균점수': 70.66666666666667}))]

[('스파크', {'명단': ['하명도', '홍길동', '임꺽정'], '평균점수': 63.333333333333336}),
 ('텐서플로우', {'명단': ['홍진호', '임요환', '이윤열'], '평균점수': 70.66666666666667})]

# Spark Shuffle

- 스파크에서 연산은 단일 파티션에서 작동   


- reduceByKey와 같이 특정 키에 매핑된 모든 값에 대한 연산을 수행하기 위해서는   
  파티션에 흩어진 특정키에 해당하는 값을 하나의 파티션으로 모아 줄 필요가 있음  


- 모든 키에 대한 모든 값을 찾기 위해 모든 파티션을 탐색하고, 해당하는 값들을 하나의 파티션으로 옮겨오는 과정을 셔플이라고 부른다.  


- 디스크 IO 또는 네트워크 IO가 발생함으로 비용이 매우 비싼 작업  



ex)   
filter : 각 파티션에 있는 하나의 튜플에 대해 조건을 탐색하면 됨으로 셔플 발생 x  
reduceByKey : 연산을 시작하기 위해서는 우선적으로 모든 파티션에 분산되어 있는 특정 키 값을 수집해야함으로 셔플 발생 
- 셔플이 발생하는 함수들 :
 - subtractByKey
 - groupBy
 - foldByKey
 - reduceByKey
 - aggregateByKey
 - transformations of a join of any type
 - distinct
 - cogroup

![shuffle](./img/shuffle.png)

# RDD Action

- transformation 연산을 통해 생성한 논리적 실행계획을 최적화 하여 연산을 수행. 빠른 연산이 가능

## Action Method

1. collect()
2. take()
3. takeOrdered()
4. top()
5. countByValue()
6. foreach()
7. reduce()
8. saveAsTextFile()
9. max()
10. min()
11. mean()
12. variance()
13. stdev()
14. stats()

## Action - collect()

['하명도 스파크 50',
 '홍길동 스파크 80',
 '임꺽정 스파크 60',
 '임요환 텐서플로우 100',
 '홍진호 텐서플로우 22',
 '홍진호 텐서플로우 22',
 '이윤열 텐서플로우 90']

## Action - take()

[1, 2, 3]

## Action - takeOrdered()

[0.2, 0.4]

## Action - top()

[5, 3]

## Action - countByValues()

defaultdict(int, {'a': 2, 'b': 3, 'c': 2, 'd': 1})

## Action - reduce()

55

## Action - foreach()

## Action - saveAsTextFile()

In [9]:
test = sc.textFile("/rdd/rdd_prac.txt")
test.collect()

["('스파크', {'명단': ['하명도', '홍길동', '임꺽정'], '평균점수': 63.333333333333336})",
 "('텐서플로우', {'명단': ['홍진호', '임요환', '이윤열'], '평균점수': 70.66666666666667})"]

## Action - max, min, mean, variance, stdev, stats

7

1

3.9999999999999996

4.000000000000001

2.0

(count: 7, mean: 3.9999999999999996, stdev: 2.0, max: 7, min: 1)