## groupBy()

In [7]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
from datetime import date, datetime
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import functions as F

In [62]:
schema = StructType([
    StructField('class_cd', StringType()),
    StructField('school', StringType()),
    StructField('class_std_cnt', IntegerType()),
    StructField('loc', StringType()),
    StructField('school_type', StringType()),
    StructField('teaching_type', StringType()),    
])

cdf = spark.read.csv('/dataframe/a_class_info.csv', header=True, schema=schema)
cdf.printSchema()
cdf.createOrReplaceTempView('class')

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: integer (nullable = true)
 |-- loc: string (nullable = true)
 |-- school_type: string (nullable = true)
 |-- teaching_type: string (nullable = true)

groupBy  : 집계함수를 가지고 있는 GroupData 객체를 반환한다.  

GrouopData객체의 집계함수들을 사용해 grouping 된 데이터들의 집계결과를 저장하고 있는 DataFrame을 반환 받을 수 있다.

In [4]:
# 지역별 교육타입별 학생 숫자를 구해보자.

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
|     UHU| CCAAW|           16|Suburban| Non-public| Experimental|
|     UWK| CCAAW|           19|Suburban| Non-public|     Standard|
|     A33| CIMBB|           19|   Urban| Non-public|     Standard|
|     EID| CIMBB|           21|   Urban| Non-public|     Standard|
|     HUJ| CIMBB|           17|   Urban| Non-public| Experimental|
|     PC6| CIMBB|           17|   Urban| Non-public|     Standard|
|     1Q1| CUQAM|           28|   Urban|     Public|     Standard|
|     BFY| CUQAM|           27|   Urban|     Public|     Standard|
|     OMI| CUQAM|           28|   Urban|     Public|     Standard|
|     X6Z| CUQAM|           24|   Urban|     Public| Experimental|
|     2AP| DNQDD|           27|Suburban|     Public|     Standard|
|     PW5| DNQDD|           20|Suburban|     Public| Experimental|
|     ROP| DNQDD|           28|Suburban|     Public| Experimental|
|     ST7| DNQDD|           20|Suburban|     Public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 20 rows

In [55]:
# 지역별 교육타입별 학생 숫자를 구해보자.
cdf.groupby(cdf.loc, cdf.teaching_type) \
        .agg(sum(cdf.class_std_cnt), avg('class_std_cnt')) \
        .show()

print('''지역내 교육타입별 학생 숫자와 평균을 구하고 별칭을 붙여보자. 
단  지역내 교육타입별 학생 숫자의 총 합이 300미만인 데이터는 제외한다.''')  
temp = cdf.groupby(cdf.loc, cdf.teaching_type) \
        .agg(sum(cdf.class_std_cnt).alias('total'), avg('class_std_cnt').alias('avg'))
temp.show(5)
temp.where(temp.total >= 300).show(3)

+--------+-------------+------------------+------------------+
|     loc|teaching_type|sum(class_std_cnt)|avg(class_std_cnt)|
+--------+-------------+------------------+------------------+
|   Rural| Experimental|               211|17.583333333333332|
|    null|         null|              null|              null|
|   Urban|     Standard|               631| 24.26923076923077|
|Suburban|     Standard|               433|             21.65|
|   Rural|     Standard|             20327|1195.7058823529412|
|Suburban| Experimental|               284|20.285714285714285|
|   Urban| Experimental|               275|              25.0|
+--------+-------------+------------------+------------------+

지역내 교육타입별 학생 숫자와 평균을 구하고 별칭을 붙여보자.
단  지역내 교육타입별 학생 숫자의 총 합이 300미만인 데이터는 제외한다.
+--------+-------------+-----+------------------+
|     loc|teaching_type|total|               avg|
+--------+-------------+-----+------------------+
|   Rural| Experimental|  211|17.583333333333332|
|    null|         null| null|              null|
|   Urban|     Standard|  631| 24.26923076923077|
|Suburban|     Standard|  433|             21.65|
|   Rural|     Standard|20327|1195.7058823529412|
+--------+-------------+-----+------------------+
only showing top 5 rows

+--------+-------------+-----+------------------+
|     loc|teaching_type|total|               avg|
+--------+-------------+-----+------------------+
|   Urban|     Standard|  631| 24.26923076923077|
|Suburban|     Standard|  433|             21.65|
|   Rural|     Standard|20327|1195.7058823529412|
+--------+-------------+-----+------------------+

In [128]:
# 반이 가장 많이 위치한 지역의 학생 수 총합과, 가장 적게 위치한 지역의 학생 수 총 합 간의 차이를 구해보자
cdf.printSchema()
base = cdf \
        .where(col('loc').isNotNull()) \
        .groupby(cdf.loc) \
        .agg( count(col('class_cd')).alias('cnt')
             , sum(col('class_std_cnt')).alias('tot')) 

base.show()

min_max_row = base.select(max('cnt'), min('cnt')).collect()
min_max_row

base.where(base.cnt.isin(min_max_row[0][0], min_max_row[0][1])) \
      .select(max(col('tot')) - min(col('tot'))).show()

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: integer (nullable = true)
 |-- loc: string (nullable = true)
 |-- school_type: string (nullable = true)
 |-- teaching_type: string (nullable = true)

+--------+---+---+
|     loc|cnt|tot|
+--------+---+---+
|   Urban| 37|906|
|Suburban| 34|717|
|   Rural| 28|538|
+--------+---+---+

[Row(max(cnt)=37, min(cnt)=28)]

+---------------------+
|(max(tot) - min(tot))|
+---------------------+
|                  368|
+---------------------+

#### sql

In [40]:
# 지역별 교육타입별 학생 숫자를 구해보자.
cdf.printSchema()
spark.sql('''
    select loc, teaching_type, sum(class_std_cnt)
    from class
    group by loc, teaching_type
''').show()

print('''지역내 교육타입별 학생 숫자와 평균을 구해보자. 
단  지역내 교육타입별 학생 숫자의 총 합이 300미만인 데이터는 제외한다.''')  
print('컬럼명이 sum(class_std_cnt) 이라니 너무 이상하다. 집계함수를 수행하고 별칭을 붙여보자')
spark.sql('''
    select loc, teaching_type, sum(class_std_cnt) as total, avg(class_std_cnt) as avg
    from class
    group by loc, teaching_type
    having sum(class_std_cnt) >= 300
''').show()

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: integer (nullable = true)
 |-- loc: string (nullable = true)
 |-- school_type: string (nullable = true)
 |-- teaching_type: string (nullable = true)

+--------+-------------+------------------+
|     loc|teaching_type|sum(class_std_cnt)|
+--------+-------------+------------------+
|   Rural| Experimental|               211|
|    null|         null|              null|
|   Urban|     Standard|               631|
|Suburban|     Standard|               433|
|   Rural|     Standard|             20327|
|Suburban| Experimental|               284|
|   Urban| Experimental|               275|
+--------+-------------+------------------+

지역내 교육타입별 학생 숫자와 평균을 구해보자.
단  지역내 교육타입별 학생 숫자의 총 합이 300미만인 데이터는 제외한다.
컬럼명이 sum(class_std_cnt) 이라니 너무 이상하다. 집계함수를 수행하고 별칭을 붙여보자
+--------+-------------+-----+------------------+
|     loc|teaching_type|total|               avg|
+--------+-------------+-----+------------------+
|   Urban|     Standard|  631| 24.26923076923077|
|Suburban|     Standard|  433|             21.65|
|   Rural|     Standard|20327|1195.7058823529412|
+--------+-------------+-----+------------------+

## orderBy()

In [36]:
print('반 학생 숫자를 기준으로 내림차순 정렬하라')
cdf.select('*') \
    .orderBy(cdf.loc, ascending=[0]).show(3)

print('loc를 기준으로 오름차순 정렬하라, 이때 같은 지역끼리는 학교이름을 기준으로 내림차순 정렬하라')
cdf.orderBy(cdf.loc.asc(), cdf.school.desc()).show(3)

print('학교 종류를 기준으로 오름차순 정렬하라, 만약 school_type이 null인 행이 있다면 제일 위로 오게 하라')
cdf.orderBy(cdf.school.asc_nulls_first()).show(100)

반 학생 숫자를 기준으로 내림차순 정렬하라
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     A33| CIMBB|           19|Urban| Non-public|     Standard|
|     PC6| CIMBB|           17|Urban| Non-public|     Standard|
|     EID| CIMBB|           21|Urban| Non-public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows

loc를 기준으로 오름차순 정렬하라, 이때 같은 지역끼리는 학교이름을 기준으로 내림차순 정렬하라
+--------+------+-------------+----+-----------+-------------+
|class_cd|school|class_std_cnt| loc|school_type|teaching_type|
+--------+------+-------------+----+-----------+-------------+
|     5SD|  null|         null|null|       null|         null|
|     4SZ|  null|         null|null|       null|         null|
|     6PP|  null|         null|null|       null|         null|
+--------+------+-------------+----+-----------+-------------+
only showing top 3 rows

학교 종류를 기준으로 오름차순 정렬하라, 만약 school_type이 null인 행이 있다면 제일 위로 오게 하라
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     MDS|  null|           18|   Rural| Non-public|     Standard|
|     4SZ|  null|         null|    null|       null|         null|
|     MDE|  null|           10|   Rural| Non-public| Experimental|
|     5SD|  null|         null|    null|       null|         null|
|     6PP|  null|         null|    null|       null|         null|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     UHU| CCAAW|           16|Suburban| Non-public| Experimental|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
|     UWK| CCAAW|           19|Suburban| Non-public|     Standard|
|     A33| CIMBB|           19|   Urban| Non-public|     Standard|
|     HUJ| CIMBB|           17|   Urban| Non-public| Experimental|
|     PC6| CIMBB|           17|   Urban| Non-public|     Standard|
|     EID| CIMBB|           21|   Urban| Non-public|     Standard|
|     1Q1| CUQAM|           28|   Urban|     Public|     Standard|
|     X6Z| CUQAM|           24|   Urban|     Public| Experimental|
|     BFY| CUQAM|           27|   Urban|     Public|     Standard|
|     OMI| CUQAM|           28|   Urban|     Public|     Standard|
|     ST7| DNQDD|           20|Suburban|     Public|     Standard|
|     XXJ| DNQDD|           27|Suburban|     Public|     Standard|
|     2AP| DNQDD|           27|Suburban|     Public|     Standard|
|     PW5| DNQDD|           20|Suburban|     Public| Experimental|
|     ROP| DNQDD|           28|Suburban|     Public| Experimental|
|     197| FBUMG|           14|   Rural| Non-public| Experimental|
|     5LQ| FBUMG|           18|   Rural| Non-public| Experimental|
|     JGD| FBUMG|           14|   Rural| Non-public| Experimental|
|     YUC| GJJHK|           21|Suburban|     Public|     Standard|
|     NOR| GJJHK|           27|Suburban|     Public| Experimental|
|     ZDT| GJJHK|           27|Suburban|     Public|     Standard|
|     X78| GJJHK|           21|Suburban|     Public|     Standard|
|     HCB| GJJHK|           22|Suburban|     Public|     Standard|
|     TSA| GOKXL|           23|   Rural|     Public| Experimental|
|     ENO| GOKXL|           22|   Rural|     Public| Experimental|
|     VA6| GOKXL|           19|   Rural|     Public|     Standard|
|     PBA| GOOBU|           24|   Urban|     Public|     Standard|
|     U6J| GOOBU|           25|   Urban|     Public|     Standard|
|     W8A| GOOBU|           26|   Urban|     Public| Experimental|
|     HKF| GOOBU|           28|   Urban|     Public|     Standard|
|     18K| GOOBU|           31|   Urban|     Public|     Standard|
|     CXC| GOOBU|           24|   Urban|     Public|     Standard|
|     98D| IDGFP|           21|   Urban| Non-public| Experimental|
|     P2A| IDGFP|           17|   Urban| Non-public| Experimental|
|     05H| IDGFP|           22|   Urban| Non-public|     Standard|
|     G2L| IDGFP|           17|   Urban| Non-public|     Standard|
|     XZM| IDGFP|           17|   Urban| Non-public|     Standard|
|     21Q| KFZMY|           25|   Urban| Non-public|     Standard|
|     1VD| KFZMY|           27|   Urban| Non-public| Experimental|
|     O6A| KZKKE|           22|   Rural|     Public|     Standard|
|     QTU| KZKKE|           23|   Rural|     Public|     Standard|
|     2BR| KZKKE|           20|   Rural|     Public|     Standard|
|     3D0| KZKKE|           22|   Rural|     Public|     Standard|
|     5JK| KZKKE|           24|   Rural|     Public|     Standard|
|     RA5| LAYPA|           17|   Rural|     Public| Experimental|
|     J8J| LAYPA|           19|   Rural|     Public|     Standard|
|     AJ1| LAYPA|           21|   Rural|     Public|     Standard|
|     6ZZ| OJOBU|        20000|   Rural|     Public|     Standard|
|     FS3| OJOBU|           19|   Rural|     Public|     Standard|
|     5SZ| OJOBU|           17|   Rural|     Public| Experimental|
|     XJ8| OJOBU|           23|   Rural|     Public|     Standard|
|     6U9| OJOBU|           22|   Rural|     Public|     Standard|
|     3XJ| QOQTS|           24|   Urban|     Public|     Standard|
|     RK7| QOQTS|           22|   Urban|     Public|     Standard|
|     XZ4| QOQTS|           22|   Urban|     Public|     Standard|
|     SUR| QOQTS|           28|   Urban|     Public|     Standard|
|     X2O| QOQTS|           25|   Urban|     Public| Experimental|
|     0N7| QOQTS|           28|   Urban|     Public| Experimental|
|     NWZ| UAGPU|           21|Suburban|     Public|     Standard|
|     S98| UAGPU|           21|Suburban|     Public|     Standard|
|     62L| UAGPU|           23|Suburban|     Public|     Standard|
|     1SZ| UAGPU|           22|Suburban|     Public|     Standard|
|     IPU| UKPGS|           19|Suburban|     Public| Experimental|
|     KXB| UKPGS|           18|Suburban|     Public| Experimental|
|     PGH| UKPGS|           23|Suburban|     Public| Experimental|
|     08N| UKPGS|           21|Suburban|     Public|     Standard|
|     XXE| UKPGS|           22|Suburban|     Public|     Standard|
|     9AW| UKPGS|           25|Suburban|     Public|     Standard|
|     6C1| UUUQX|           16|Suburban| Non-public|     Standard|
|     AE1| UUUQX|           17|Suburban| Non-public| Experimental|
|     SSP| UUUQX|           15|Suburban| Non-public|     Standard|
|     H7S| UUUQX|           16|Suburban| Non-public| Experimental|
|     P8I| UUUQX|           20|Suburban| Non-public|     Standard|
|     CD8| VHDHF|           20|   Rural| Non-public| Experimental|
|     J6X| VHDHF|           16|   Rural| Non-public|     Standard|
|     KR1| VHDHF|           15|   Rural| Non-public| Experimental|
|     341| VKWQH|           18|   Rural|     Public|     Standard|
|     D33| VKWQH|           21|   Rural|     Public|     Standard|
|     IEM| VKWQH|           22|   Rural|     Public| Experimental|
|     DFQ| VKWQH|           19|   Rural|     Public| Experimental|
|     GYM| VKWQH|           20|   Rural|     Public|     Standard|
|     A93| VVTVA|           30|   Urban|     Public| Experimental|
|     TB5| VVTVA|           25|   Urban|     Public|     Standard|
|     YTB| VVTVA|           30|   Urban|     Public| Experimental|
|     7BL| VVTVA|           29|   Urban|     Public|     Standard|
|     1UU| ZMNYA|           24|Suburban|     Public| Experimental|
|     4NN| ZMNYA|           22|Suburban|     Public|     Standard|
|     V77| ZMNYA|           23|Suburban|     Public| Experimental|
|     CII| ZOWMK|           27|   Urban|     Public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 100 rows

#### sql

In [16]:
cdf.printSchema()
print('반 학생 숫자를 기준으로 내림차순 정렬하라')
spark.sql('''
    select * from class order by class_std_cnt desc
''').show(3)

print('loc를 기준으로 오름차순 정렬하라, 이때 같은 지역끼리는 학교이름을 기준으로 내림차순 정렬하라')
spark.sql('''
    select * from class order by loc asc, school desc
''').show(3)

print('학교 종류를 기준으로 오름차순 정렬하라, 만약 school_type이 null인 행이 있다면 제일 위로 오게 하라')
spark.sql('''
    select * from class order by school_type asc nulls last
''').show(3)

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: integer (nullable = true)
 |-- loc: string (nullable = true)
 |-- school_type: string (nullable = true)
 |-- teaching_type: string (nullable = true)

반 학생 숫자를 기준으로 내림차순 정렬하라
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     6ZZ| OJOBU|        20000|Rural|     Public|     Standard|
|     18K| GOOBU|           31|Urban|     Public|     Standard|
|     A93| VVTVA|           30|Urban|     Public| Experimental|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows

loc를 기준으로 오름차순 정렬하라, 이때 같은 지역끼리는 학교이름을 기준으로 내림차순 정렬하라
+--------+------+-------------+----+-----------+-------------+
|class_cd|school|class_std_cnt| loc|school_type|teaching_type|
+--------+------+-------------+----+-----------+-------------+
|     5SD|  null|         null|null|       null|         null|
|     4SZ|  null|         null|null|       null|         null|
|     6PP|  null|         null|null|       null|         null|
+--------+------+-------------+----+-----------+-------------+
only showing top 3 rows

학교 종류를 기준으로 오름차순 정렬하라, 만약 school_type이 null인 행이 있다면 제일 위로 오게 하라
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 3 rows